<div class="dicti-modal">
    <div class="container dicti-pres-container">
        <div class="row center-align">
            <img src="assets/images/logo.png" alt="logo">
        </div>
        <div class="row center-align">
            <div class="col s12 dicti-coucou">COUCOU</div>
        </div>
        <div class="row center-align">
            <div class="col s12 dicti-appelle">Je m'appelle Dicti</div>
        </div>
    </div>
    <div class="button-container center-align">
        <button style="cursor: pointer">Commencer</button>
    </div>
</div>