<!DOCTYPE html>
<html>
<head>
    <title>Animation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jcd uery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link href="assets/css/haoshi.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container" style="margin-top:0px">
    <div class="s1">
        <div class="row">
            <img class="bulle bulle1 pull-left img-responsive" src="assets/images/bulle1.svg">
        </div>
    </div>
    <div class="s2">
        <div class="row">
            <img class="bulle bulle2 pull-right img-responsive" src="assets/images/bulle2.svg">
        </div>


    </div>
    <div class="s3" style="margin-top:-500px">
        <div class="row" style="padding-top:460px">
            <img class="bulle bulle3 pull-left img-responsive" src="assets/images/bulle3.svg">
        </div>

        <div class="row" style="margin-top:-30px;">
            <img class="bulle bulle4 pull-right img-responsive" src="assets/images/bulle4.svg">
        </div>
    </div>
    <div class="s4">
        <div class="row" style="top:-140px;position:relative;">
            <img class="logo img-responsive" src="assets/images/tete.svg">
            <img class="logo2 img-responsive" src="assets/images/yeux.svg">
            <h1>COUCOU</h1>
            <h3>je m'appelle Dicti</h3>
            <button class="btn commencer"><h4>Commencer</h4></button>
        </div>
    </div>

    <div class="s5" style="margin-top:-120px">
        <row>
            <img class="bulle bulle5 pull-left img-responsive" src="assets/images/bulle5.svg">
        </row>
    </div>
    <div class="s6">
        <row>
            <img class="bulle bulle6 pull-right img-responsive" src="assets/images/bulle1.svg">
        </row>
    </div>
</div>

</div>

</body>

</html>