{% extends 'layouts/main1.twig' %}

{% block content %}
    <div>

        <br>Response<br>
        <div id="response"></div>
        <input id="input" type="text"> <button id="rec">Speak</button>
    </div>
{% endblock %}